<section id="profileSettings" class="hidden profile">
  <!-- Profile -->
  <article class="profile__hero-section">
    <figure>
      <div class="profile__hero-section__image-shadow">
        <div class="profile__hero-section__image-ring">
          <img src="./img/profil-vatman.png" alt="Laurentiu" />
        </div>
      </div>
      <figcaption class="profile__hero-section__caption">
        <a>
          <svg width="20" height="20">
            <use href="./img/icons.svg#edit"></use>
          </svg>
          <h2>Svetlana</h2>
          <h3>Vatman</h3>
        </a>
      </figcaption>
    </figure>
  </article>

  <!-- Settings -->
  <article class="profile__settings">
    <ul>
      <li>
        <a>
          <h2>Nume</h2>
          <svg width="20" height="20">
            <use href="./img/icons.svg#edit"></use>
          </svg>
          Svetlana Zakharova
        </a>
      </li>
      <li>
        <a>
          <h2>Email</h2>
          <svg width="20" height="20">
            <use href="./img/icons.svg#edit"></use>
          </svg>
          laurentiucolaru@gmail.com
        </a>
      </li>
      <li class="profile__settings--vatman">
        <h2>Partajează Locație</h2>

        <select name="vehicleId" id="vehicleId">
          <option value="">-- Selectează Vehicul --</option>
          <div>
            <optgroup label="Tramvaie">
              <option value="1">1</option>
              <option value="1b">1b</option>
              <option value="3">3</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="18b">18b</option>
            </optgroup>
            <optgroup label="Autobuze">
              <option value="L13">Linia 13</option>
              <option value="L19">Linia 19</option>
              <option value="L21">Linia 21</option>
              <option value="L26">Linia 26</option>
              <option value="L27">Linia 27</option>
              <option value="L31">Linia 31</option>
              <option value="L35">Linia 35</option>
              <option value="L35">Linia 39</option>
              <option value="L39b">Linia 39b</option>
              <option value="L41">Linia 41</option>
              <option value="L46">Linia 46</option>
              <option value="L48">Linia 48</option>
              <option value="L49">Linia 49</option>
              <option value="L54">Linia 54</option>
              <option value="L60">Linia 60</option>
              <option value="L201">Linia 201</option>
              <option value="L202">Linia 202</option>
              <option value="L204">Linia 204</option>
              <option value="L209">Linia 209</option>
              <option value="L212">Linia 212</option>
              <option value="L213">Linia 213</option>
              <option value="L214">Linia 214</option>
              <option value="L215">Linia 215</option>
              <option value="L216">Linia 216</option>
              <option value="L221">Linia 221</option>
              <option value="L231">Linia 231</option>
              <option value="L234">Linia 234</option>
            </optgroup>
          </div>
        </select>
        <div>
          <svg height="20" width="20">
            <use href="./img/icons.svg#info"></use>
          </svg>

          <label for="vehicleId">
            Selectați un vehicul pentru a-i
            <br />
            partaja locația și a-i vedea ruta
          </label>
        </div>
      </li>
      <li>
        <label class="profile__settings--vatman__switch" id="locationStatus" data-after="ccc">
          <input type="checkbox" id="locationCheckbox"/>
          <span class="slider round"></span>
        </label>
      </li>
    </ul>

    <ul>
      <li>
        <a>
          <svg height="20" width="20">
            <use href="./img/icons.svg#log-out"></use>
          </svg>
          Deconectați-vă
        </a>
      </li>

      <li>
        <button id="closeSettings" class="button--primary-blue" type="button">
          Înapoi
        </button>
      </li>
    </ul>
  </article>
</section>
